{% for category in page.taxonomy.category %}
    <a class="bg-white/10 border-border hover:text-white hover:bg-black w-fit lg:mx-0 block px-3 py-2 text-sm text-black uppercase transition-all duration-300 border rounded-md"
        href="{{
        base_url
        }}/blog/category{{ config.system.param_sep }}{{ category }}">
        {{ category }}
    </a>
    {% if not loop.last %} {% endif %}
{% endfor %}

{# Used on item pages #}