<div class="relative">
    <button type="button" class="peer cursor-pointer rounded-md bg-neutral-50 px-4 py-2 font-medium tracking-wide text-neutral-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black dark:bg-neutral-900 dark:text-neutral-300 dark:focus-visible:outline-white" aria-describedby="tooltipExample">Hover Me</button>
    <div id="tooltipExample" class="pointer-events-none absolute top-full mt-2 left-1/2 -translate-x-1/2 z-10 flex w-64 flex-col gap-1 rounded bg-neutral-950 p-2.5 text-xs text-neutral-300 opacity-0 transition-all ease-out peer-hover:opacity-100 peer-focus:opacity-100 dark:bg-white dark:text-neutral-600" role="tooltip">
        <span class="text-sm font-medium text-white dark:text-neutral-900">Tooltip bottom</span>
        <p class="text-balance">A rich tooltip that contains longer text and is usually used to add a description.</p>
    </div>
</div>
