<!-- Featured section -->
    <section aria-labelledby="cause-heading">
      <div class="sm:px-12 sm:py-40 lg:px-16 relative px-6 py-32 bg-gray-800">
        <div class="absolute inset-0 overflow-hidden">
          <img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-feature-section-full-width.jpg" alt="" class="object-cover object-center w-full h-full">
        </div>
        <div aria-hidden="true" class="absolute inset-0 bg-gray-900 bg-opacity-50"></div>
        <div class="relative flex flex-col items-center max-w-3xl mx-auto text-center">
          <h2 id="cause-heading" class="sm:text-4xl text-3xl font-bold tracking-tight text-white">Long-term thinking</h2>
          <p class="mt-3 text-xl text-white">We're committed to responsible, sustainable, and ethical manufacturing. Our small-scale approach allows us to focus on quality and reduce our impact. We're doing our best to delay the inevitable heat-death of the universe.</p>
          <a href="#" class="hover:bg-gray-100 sm:w-auto block w-full px-8 py-3 mt-8 text-base font-medium text-gray-900 bg-white border border-transparent rounded-md">Read our story</a>
        </div>
      </div>
    </section>
