<header class="relative overflow-hidden">

    {# Hero section #}
    <div class="pb-80 sm:pb-40 sm:pt-24 lg:pb-48 lg:pt-40 pt-16">
      <div class="max-w-7xl sm:static sm:px-6 lg:px-8 relative px-4 mx-auto">
        <div class="sm:max-w-lg">
          <h1 class="sm:text-6xl text-4xl font-bold tracking-tight text-black">Summer styles are finally here</h1>
          <p class="mt-4 text-xl text-gray-500">This year, our new summer collection will shelter you from the harsh elements of a world that doesn't care if you live or die.</p>
        </div>
        <div>
          <div class="mt-10">
            <!-- Decorative image grid -->
            <div aria-hidden="true" class="lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl pointer-events-none">
              <div class="sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8 absolute transform">
                <div class="lg:space-x-8 flex items-center space-x-6">
                  <div class="gap-y-6 lg:gap-y-8 grid flex-shrink-0 grid-cols-1">
                    <div class="w-44 sm:opacity-0 lg:opacity-100 h-64 overflow-hidden rounded-lg">
                      <img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-01.jpg" alt="" class="object-cover object-center w-full h-full">
                    </div>
                    <div class="w-44 h-64 overflow-hidden rounded-lg">
                      <img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-02.jpg" alt="" class="object-cover object-center w-full h-full">
                    </div>
                  </div>
                  <div class="gap-y-6 lg:gap-y-8 grid flex-shrink-0 grid-cols-1">
                    <div class="w-44 h-64 overflow-hidden rounded-lg">
                      <img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-03.jpg" alt="" class="object-cover object-center w-full h-full">
                    </div>
                    <div class="w-44 h-64 overflow-hidden rounded-lg">
                      <img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-04.jpg" alt="" class="object-cover object-center w-full h-full">
                    </div>
                    <div class="w-44 h-64 overflow-hidden rounded-lg">
                      <img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-05.jpg" alt="" class="object-cover object-center w-full h-full">
                    </div>
                  </div>
                  <div class="gap-y-6 lg:gap-y-8 grid flex-shrink-0 grid-cols-1">
                    <div class="w-44 h-64 overflow-hidden rounded-lg">
                      <img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-06.jpg" alt="" class="object-cover object-center w-full h-full">
                    </div>
                    <div class="w-44 h-64 overflow-hidden rounded-lg">
                      <img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-07.jpg" alt="" class="object-cover object-center w-full h-full">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <a href="#" class="hover:bg-secondary/25 bg-primary inline-block px-8 py-3 font-medium text-center text-white border border-transparent rounded-md">Shop Collection</a>
          </div>
        </div>
      </div>
    </div>
  </header>