html {
    background: hsl(var(--background));
}

:root {
    --background: 260 18% 97%;

    --border: 0 0% 73%;
    --card: 0 0% 83%;
    --primary: 253 83% 77%;
    --secondary:238 84% 64%;
    --black: 210 30% 10%;
    --white: 60 100% 100%;

    background: hsl(var(--background));
}

.dark {
  --background: 263 33% 8%; 
  --border: 0 0% 30%; 
  --card: 0 0% 15%;
  --primary: 253 83% 77%;
  --secondary: 238 84% 50%;
  --black: 60 100% 100%;
  --white: 210 30% 10%;

  background: hsl(var(--background));
}



h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-primary text-black;
}

::-moz-selection {
    @apply bg-primary text-white;
}

::selection {
    @apply bg-primary text-white;
}

@media screen and (min-width: 767px) {
    ::-webkit-scrollbar {
        width: 7px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: #4e4156;
        border-radius: 16px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #352e3f;
    }

    .no-scroll {
        @apply overflow-hidden pr-[7px];
    }
}

.scrollbar-vertical {
    &::-webkit-scrollbar {
        width: auto;
        height: 5px;
    }
}

.container {
    @media screen and (min-width: 1536px) {
        max-width: 1280px !important;
    }
}
