{% extends "partials/base.html.twig" %}

{% block content %}
	<header
		class="relative overflow-hidden">
		<!-- Hero section -->
		<div class="pb-80 sm:pb-40 sm:pt-24 lg:pb-48 lg:pt-40 pt-16">
			<div class="max-w-7xl sm:static sm:px-6 lg:px-8 relative px-4 mx-auto">
				<div class="sm:max-w-lg">
					<h1 class="sm:text-6xl text-4xl font-bold tracking-tight text-gray-900">Summer styles are finally here</h1>
					<p class="mt-4 text-xl text-gray-500">This year, our new summer collection will shelter you from the harsh elements of a world that doesn't care if you live or die.</p>
				</div>
				<div>
					<div
						class="mt-10">
						<!-- Decorative image grid -->
						<div aria-hidden="true" class="lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl pointer-events-none">
							<div class="sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8 absolute transform">
								<div class="lg:space-x-8 flex items-center space-x-6">
									<div class="gap-y-6 lg:gap-y-8 grid flex-shrink-0 grid-cols-1">
										<div class="w-44 sm:opacity-0 lg:opacity-100 h-64 overflow-hidden rounded-lg">
											<img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-01.jpg" alt="" class="object-cover object-center w-full h-full">
										</div>
										<div class="w-44 h-64 overflow-hidden rounded-lg">
											<img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-02.jpg" alt="" class="object-cover object-center w-full h-full">
										</div>
									</div>
									<div class="gap-y-6 lg:gap-y-8 grid flex-shrink-0 grid-cols-1">
										<div class="w-44 h-64 overflow-hidden rounded-lg">
											<img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-03.jpg" alt="" class="object-cover object-center w-full h-full">
										</div>
										<div class="w-44 h-64 overflow-hidden rounded-lg">
											<img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-04.jpg" alt="" class="object-cover object-center w-full h-full">
										</div>
										<div class="w-44 h-64 overflow-hidden rounded-lg">
											<img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-05.jpg" alt="" class="object-cover object-center w-full h-full">
										</div>
									</div>
									<div class="gap-y-6 lg:gap-y-8 grid flex-shrink-0 grid-cols-1">
										<div class="w-44 h-64 overflow-hidden rounded-lg">
											<img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-06.jpg" alt="" class="object-cover object-center w-full h-full">
										</div>
										<div class="w-44 h-64 overflow-hidden rounded-lg">
											<img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-07.jpg" alt="" class="object-cover object-center w-full h-full">
										</div>
									</div>
								</div>
							</div>
						</div>

						<a href="#" class="hover:bg-indigo-700 inline-block px-8 py-3 font-medium text-center text-white bg-indigo-600 border border-transparent rounded-md">Shop Collection</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Category section -->
	<section aria-labelledby="category-heading" class="bg-gray-50">
		<div class="max-w-7xl sm:px-6 sm:py-32 lg:px-8 px-4 py-24 mx-auto">
			<div class="sm:flex sm:items-baseline sm:justify-between">
				<h2 id="category-heading" class="text-2xl font-bold tracking-tight text-gray-900">Shop by Category</h2>
				<a href="#" class="hover:text-indigo-500 sm:block hidden text-sm font-semibold text-indigo-600">
					Browse all categories
					<span aria-hidden="true">
						→</span>
				</a>
			</div>

			<div class="lg:gap-8 grid grid-cols-2 gap-6 mt-6">
				<div class="group aspect-h-1 aspect-w-2 sm:row-span-2 relative h-full overflow-hidden rounded-lg">
					<img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-featured-category.jpg" alt="Two models wearing women's black cotton crewneck tee and off-white cotton crewneck tee." class="group-hover:opacity-75 sm:absolute sm:inset-0 sm:h-full sm:w-full object-cover object-center">
					<div aria-hidden="true" class="bg-gradient-to-b from-transparent to-black sm:inset-0 absolute bottom-0 opacity-50"></div>
					<div class="absolute inset-0 bottom-0 flex items-end p-6">
						<div>
							<h3 class="font-semibold text-white">
								<a href="#">
									<span class="absolute inset-0"></span>
									New Arrivals
								</a>
							</h3>
							<p aria-hidden="true" class="mt-1 text-sm text-white">Shop now</p>
						</div>
					</div>
				</div>
				<div class="group aspect-h-1 aspect-w-2 sm:aspect-none sm:h-full relative overflow-hidden rounded-lg">
					<img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-category-01.jpg" alt="Wooden shelf with gray and olive drab green baseball caps, next to wooden clothes hanger with sweaters." class="group-hover:opacity-75 sm:absolute sm:inset-0 sm:h-full sm:w-full object-cover object-center">
					<div aria-hidden="true" class="bg-gradient-to-b from-transparent to-black absolute inset-0 bottom-0 opacity-50"></div>
					<div class="absolute inset-0 bottom-0 flex items-end p-6">
						<div>
							<h3 class="font-semibold text-white">
								<a href="#">
									<span class="absolute inset-0"></span>
									Accessories
								</a>
							</h3>
							<p aria-hidden="true" class="mt-1 text-sm text-white">Shop now</p>
						</div>
					</div>
				</div>
				<div class="group aspect-h-1 aspect-w-2 sm:aspect-none relative h-full overflow-hidden rounded-lg">
					<img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-category-02.jpg" alt="Walnut desk organizer set with white modular trays, next to porcelain mug on wooden desk." class="group-hover:opacity-75 sm:absolute sm:inset-0 sm:h-full sm:w-full object-cover object-center">
					<div aria-hidden="true" class="bg-gradient-to-b from-transparent to-black absolute inset-0 bottom-0 opacity-50"></div>
					<div class="sm:inset-0 absolute bottom-0 flex items-end p-6">
						<div>
							<h3 class="font-semibold text-white">
								<a href="#">
									<span class="absolute inset-0"></span>
									Workspace
								</a>
							</h3>
							<p aria-hidden="true" class="mt-1 text-sm text-white">Shop now</p>
						</div>
					</div>
				</div>
			</div>

			<div class="sm:hidden mt-6">
				<a href="#" class="hover:text-indigo-500 block text-sm font-semibold text-indigo-600">
					Browse all categories
					<span aria-hidden="true">
						→</span>
				</a>
			</div>
		</div>
	</section>

	<!-- Featured section -->
	<section aria-labelledby="cause-heading">
		<div class="sm:px-12 sm:py-40 lg:px-16 relative px-6 py-32 bg-gray-800">
			<div class="absolute inset-0 overflow-hidden">
				<img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-feature-section-full-width.jpg" alt="" class="object-cover object-center w-full h-full">
			</div>
			<div aria-hidden="true" class="absolute inset-0 bg-gray-900 bg-opacity-50"></div>
			<div class="relative flex flex-col items-center max-w-3xl mx-auto text-center">
				<h2 id="cause-heading" class="sm:text-4xl text-3xl font-bold tracking-tight text-white">Long-term thinking</h2>
				<p class="mt-3 text-xl text-white">We're committed to responsible, sustainable, and ethical manufacturing. Our small-scale approach allows us to focus on quality and reduce our impact. We're doing our best to delay the inevitable heat-death of the universe.</p>
				<a href="#" class="hover:bg-gray-100 sm:w-auto block w-full px-8 py-3 mt-8 text-base font-medium text-gray-900 bg-white border border-transparent rounded-md">Read our story</a>
			</div>
		</div>
	</section>

	<!-- Favorites section -->
	<section aria-labelledby="favorites-heading">
		<div class="max-w-7xl sm:px-6 sm:py-32 lg:px-8 px-4 py-24 mx-auto">
			<div class="sm:flex sm:items-baseline sm:justify-between">
				<h2 id="favorites-heading" class="text-2xl font-bold tracking-tight text-gray-900">Our Favorites</h2>
				<a href="#" class="hover:text-indigo-500 sm:block hidden text-sm font-semibold text-indigo-600">
					Browse all favorites
					<span aria-hidden="true">
						→</span>
				</a>
			</div>

			<div class="gap-y-10 sm:grid-cols-3 sm:gap-x-6 sm:gap-y-0 lg:gap-x-8 grid grid-cols-1 mt-6">
				<div class="group relative">
					<div class="h-96 sm:aspect-h-3 sm:aspect-w-2 group-hover:opacity-75 sm:h-auto w-full overflow-hidden rounded-lg">
						<img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-favorite-01.jpg" alt="Model wearing women's black cotton crewneck tee." class="object-cover object-center w-full h-full">
					</div>
					<h3 class="mt-4 text-base font-semibold text-gray-900">
						<a href="#">
							<span class="absolute inset-0"></span>
							Black Basic Tee
						</a>
					</h3>
					<p class="mt-1 text-sm text-gray-500">$32</p>
				</div>
				<div class="group relative">
					<div class="h-96 sm:aspect-h-3 sm:aspect-w-2 group-hover:opacity-75 sm:h-auto w-full overflow-hidden rounded-lg">
						<img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-favorite-02.jpg" alt="Model wearing women's off-white cotton crewneck tee." class="object-cover object-center w-full h-full">
					</div>
					<h3 class="mt-4 text-base font-semibold text-gray-900">
						<a href="#">
							<span class="absolute inset-0"></span>
							Off-White Basic Tee
						</a>
					</h3>
					<p class="mt-1 text-sm text-gray-500">$32</p>
				</div>
				<div class="group relative">
					<div class="h-96 sm:aspect-h-3 sm:aspect-w-2 group-hover:opacity-75 sm:h-auto w-full overflow-hidden rounded-lg">
						<img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-favorite-03.jpg" alt="Model wearing women's burgundy red crewneck artwork tee with small white triangle overlapping larger black triangle." class="object-cover object-center w-full h-full">
					</div>
					<h3 class="mt-4 text-base font-semibold text-gray-900">
						<a href="#">
							<span class="absolute inset-0"></span>
							Mountains Artwork Tee
						</a>
					</h3>
					<p class="mt-1 text-sm text-gray-500">$36</p>
				</div>

			</div>

			<div class="sm:hidden mt-6">
				<a href="#" class="hover:text-indigo-500 block text-sm font-semibold text-indigo-600">
					Browse all favorites
					<span aria-hidden="true">
						→</span>
				</a>
			</div>
		</div>
	</section>

	<!-- CTA section -->
	<section aria-labelledby="sale-heading">
		<div class="sm:pt-14 pt-32 overflow-hidden">
			<div class="bg-gray-800">
				<div class="max-w-7xl sm:px-6 lg:px-8 px-4 mx-auto">
					<div class="sm:pb-24 relative pt-48 pb-16">
						<div>
							<h2 id="sale-heading" class="md:text-5xl text-4xl font-bold tracking-tight text-white">
								Final Stock.
								<br>
								Up to 50% off.
							</h2>
							<div class="mt-6 text-base">
								<a href="#" class="font-semibold text-white">
									Shop the sale
									<span aria-hidden="true">
										→</span>
								</a>
							</div>
						</div>

						<div class="-top-32 left-1/2 sm:top-6 sm:translate-x-0 absolute transform -translate-x-1/2">
							<div class="min-w-max sm:ml-3 lg:space-x-8 flex ml-24 space-x-6">
								<div class="sm:flex-col sm:space-x-0 sm:space-y-6 lg:space-y-8 flex space-x-6">
									<div class="flex-shrink-0">
										<img class="md:h-72 md:w-72 object-cover w-64 h-64 rounded-lg" src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-category-01.jpg" alt="">
									</div>

									<div class="sm:mt-0 flex-shrink-0 mt-6">
										<img class="md:h-72 md:w-72 object-cover w-64 h-64 rounded-lg" src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-category-02.jpg" alt="">
									</div>
								</div>
								<div class="sm:-mt-20 sm:flex-col sm:space-x-0 sm:space-y-6 lg:space-y-8 flex space-x-6">
									<div class="flex-shrink-0">
										<img class="md:h-72 md:w-72 object-cover w-64 h-64 rounded-lg" src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-favorite-01.jpg" alt="">
									</div>

									<div class="sm:mt-0 flex-shrink-0 mt-6">
										<img class="md:h-72 md:w-72 object-cover w-64 h-64 rounded-lg" src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-favorite-02.jpg" alt="">
									</div>
								</div>
								<div class="sm:flex-col sm:space-x-0 sm:space-y-6 lg:space-y-8 flex space-x-6">
									<div class="flex-shrink-0">
										<img class="md:h-72 md:w-72 object-cover w-64 h-64 rounded-lg" src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-category-01.jpg" alt="">
									</div>

									<div class="sm:mt-0 flex-shrink-0 mt-6">
										<img class="md:h-72 md:w-72 object-cover w-64 h-64 rounded-lg" src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-category-02.jpg" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
