<nav
	x-data="{ isVisible: true, lastScrollY: 0, search: false }" @scroll.window="if (window.scrollY > lastScrollY && window.scrollY > 100) { isVisible = false } else { isVisible = true; } lastScrollY = window.scrollY" :class="{'translate-y-0': isVisible, '-translate-y-full': !isVisible}" class="bg-opacity-80 backdrop-blur-md fixed top-0 left-0 z-20 flex items-center justify-between w-full p-4 transition-transform duration-300 ease-in-out bg-white" aria-label="menu">
	{# Allows screen readers to skip the the nav and go directly to the main content. #}
	<a class="sr-only" href="#main-content">skip to the main content</a>
	{# Left Section #}
	<div>
		<div class="h-14 md:flex items-center justify-between hidden w-full p-2 rounded-full">
			<div>

				{% if uri.path == '/blog' %}
					<a href="{{ base_url }}/blog" class="text-neutral-900 hover-menu p-2 mr-1 text-2xl font-bold rounded-full cursor-pointer">
						<span>Peng<span class="text-black">ui</span>n</span>
					</a>
				{% else %}
					<a href="{{ home_url }}" class="text-neutral-900 hover-menu p-2 mr-1 text-2xl font-bold rounded-full cursor-pointer">
						<span>Peng<span class="text-black">ui</span>n</span>
					</a>
				{% endif %}
			</div>
			{# Fake search input button #}
			<button @click="search = true" class="focus:outline-none focus:shadow-outline lg:text-sm bg-neutral-100 shrink w-full min-w-full py-4 pl-4 text-xs font-bold leading-tight text-left text-gray-700 uppercase rounded-full">
				Search
			</button>
		</div>

		<div class="md:hidden h-14 flex items-center justify-between w-full p-2">
			<div>
				{% if uri.path == '/blog' %}
					<a href="{{ base_url }}/blog" class="text-neutral-900 hover-menu p-2 mr-1 text-2xl font-bold rounded-full cursor-pointer">
						<span>Peng<span class="text-black">ui</span>n</span>
					</a>
				{% else %}
					<a href="{{ home_url }}" class="text-neutral-900 hover-menu p-2 mr-1 text-2xl font-bold rounded-full cursor-pointer">
						<span>Peng<span class="text-black">ui</span>n</span>
					</a>
				{% endif %}
			</div>
		</div>
		{# Search Modal #}
		{% include 'partials/components/navbar/modal-search.html.twig' %}
	</div>
	{# End Left Section #}

	{# Right Section #}
	<div
		class="flex items-center space-x-4">
		{# Desktop Menu #}
		{% include 'partials/components/navbar/menu-desktop.html.twig' %}
		{# End Desktop Menu #}
		{# Search Button #}
		{% include 'partials/components/navbar/btn-search.html.twig' %}
		{# Theme Button #}
		{% include 'partials/components/navbar/btn-dark-mode.html.twig' %}

		{# User Pic #}
			<div x-data="{ userDropDownIsOpen: false, openWithKeyboard: false }" @keydown.esc.window="userDropDownIsOpen = false, openWithKeyboard = false" class="relative flex items-center"> <button @click="userDropDownIsOpen = ! userDropDownIsOpen" :aria-expanded="userDropDownIsOpen" @keydown.space.prevent="openWithKeyboard = true" @keydown.enter.prevent="openWithKeyboard = true" @keydown.down.prevent="openWithKeyboard = true" class="focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black dark:focus-visible:outline-white rounded-full" aria-controls="userMenu">
				<img src="https://penguinui.s3.amazonaws.com/component-assets/avatar-8.webp" alt="User Profile" class="size-10 object-cover rounded-full"/>
			</button>
			<!-- User Dropdown -->
			<ul x-cloak x-show="userDropDownIsOpen || openWithKeyboard" x-transition.opacity x-trap="openWithKeyboard" @click.outside="userDropDownIsOpen = false, openWithKeyboard = false" @keydown.down.prevent="$focus.wrap().next()" @keydown.up.prevent="$focus.wrap().previous()" id="userMenu" class="absolute right-0 top-12 flex w-full min-w-[12rem] flex-col overflow-hidden rounded-md border border-neutral-300 bg-neutral-50 py-1.5 dark:border-neutral-700 dark:bg-neutral-900">
				<li class="border-neutral-300 dark:border-neutral-700 border-b">
					<div class="flex flex-col px-4 py-2">
						<span class="text-neutral-900 dark:text-white text-sm font-medium">
							Alice Brown
						</span>
						<p class="text-neutral-600 dark:text-neutral-300 text-xs">
							alice.brown@gmail.com
						</p>
					</div>
				</li>
				<li>
					<a href="#" class="bg-neutral-50 text-neutral-600 hover:bg-neutral-900/5 hover:text-neutral-900 focus-visible:bg-neutral-900/10 focus-visible:text-neutral-900 focus-visible:outline-none dark:bg-neutral-900 dark:text-neutral-300 dark:hover:bg-neutral-50/5 dark:hover:text-white dark:focus-visible:bg-neutral-50/10 dark:focus-visible:text-white block px-4 py-2 text-sm">
						Dashboard
					</a>
				</li>
				<li>
					<a href="#" class="bg-neutral-50 text-neutral-600 hover:bg-neutral-900/5 hover:text-neutral-900 focus-visible:bg-neutral-900/10 focus-visible:text-neutral-900 focus-visible:outline-none dark:bg-neutral-900 dark:text-neutral-300 dark:hover:bg-neutral-50/5 dark:hover:text-white dark:focus-visible:bg-neutral-50/10 dark:focus-visible:text-white block px-4 py-2 text-sm">
						Subscription
					</a>
				</li>
				<li>
					<a href="#" class="bg-neutral-50 text-neutral-600 hover:bg-neutral-900/5 hover:text-neutral-900 focus-visible:bg-neutral-900/10 focus-visible:text-neutral-900 focus-visible:outline-none dark:bg-neutral-900 dark:text-neutral-300 dark:hover:bg-neutral-50/5 dark:hover:text-white dark:focus-visible:bg-neutral-50/10 dark:focus-visible:text-white block px-4 py-2 text-sm">
						Settings
					</a>
				</li>
				<li>
					<a href="#" class="bg-neutral-50 text-neutral-600 hover:bg-neutral-900/5 hover:text-neutral-900 focus-visible:bg-neutral-900/10 focus-visible:text-neutral-900 focus-visible:outline-none dark:bg-neutral-900 dark:text-neutral-300 dark:hover:bg-neutral-50/5 dark:hover:text-white dark:focus-visible:bg-neutral-50/10 dark:focus-visible:text-white block px-4 py-2 text-sm">
						Sign Out
					</a>
				</li>
			</ul>
			<!-- End User Dropdown -->
		</div>
		<!-- Mobile Menu Button -->
		<button @click="mobileMenuIsOpen = !mobileMenuIsOpen" :aria-expanded="mobileMenuIsOpen" type="button" class="text-neutral-600 dark:text-neutral-300 sm:hidden flex" aria-label="mobile menu" aria-controls="mobileMenu">
			<svg x-cloak x-show="!mobileMenuIsOpen" xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
			</svg>
			<svg x-cloak x-show="mobileMenuIsOpen" xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
			</svg>
		</button>
		<!-- End Mobile Menu Button -->
	</div>
	{# End Right Section #}
	{% include 'partials/components/navbar/drawer.html.twig' %}
</nav>
<div>
	{% include "/partials/components/breadcrumb.html.twig" %}
</div>
